{{ define "main" }}
<section class=' sc-banner-center-noimg' id="top-banner">
    <div class='center-banner-cnt'>
        
        {{ $dirFile := path.Base .Params.get_author }}
    
        {{ $pathArr := split $dirFile "." }}
        
        {{ $filename := index $pathArr 0}}
    
        {{$author:=(index site.Data.authors $filename).imi__i_nazwisko }}
        {{$author_img:=(index site.Data.authors $filename).obrazek }}
    
        <div class='on-banner-content sec-padding autor-banner'>
            <p class="autor-ab">Autor {{with (index site.Data.authors $filename).linkedin_odnosnik }}
                <a rel="nofollow" target="_blank" class='author-linkedin' href='{{.}}'><img src="/img/linkedin-in_red.svg"></a>
            {{end}}</p>
            <h1 class="txt-underline txt-red txt-XXL f-w700 ">{{$author | safeHTML}}</h1>
                
                
                {{with .Params.o_autorze}}
                    <div class='no-img-banner-desc'>
                        <div>{{. | safeHTML}}</div>
                        <div> <img class="author-page-img" src="{{$author_img}}"></div>
                    </div>
                {{end}}
          
          
        <!-- gdzieś formularz jeżeli istnieje -->
        <!-- gdzieś modal -> zamiennie czy odnośnik do strony, czy modal -->
    
        </div>
        
       
    </div>


</section>
<section class="sec-padding autor-page">
<div class="container">
   
    <div class="row list">
  

        <ul id="list-cnt" class="news-list with_flex">

            {{ $section := "blog" }}
            {{ range  (where (where site.RegularPages.ByDate "Section" $section ) ".Params.author" .Params.get_author).Reverse }}
            <li>
  
        
                <a href="{{ .Permalink }}"><h3>{{ .Params.tytul_do_listowania   }}</h3>
                <!-- {{- partial "img.html" (dict "image" .Params.obrazek "imgsizes" "(max-width: 992px) 100vw, 50vw")  -}} -->
                <div class='art-summary'>{{ .Params.summary | safeHTML   }}</div>
                
                 </a>
                 <div class="list-art-footer">
                {{ $dirFile := path.Base .Params.author }}
                <!-- sam plik z rozszrzeniem -->
                {{ $pathArr := split $dirFile "." }}
                <!-- nazwa pliku -->
                {{ $filename := index $pathArr 0}}
        
                <!-- {{.Params.date}} -->
                <span class='list-art-date'>{{ .Params.date.Format "02.01.2006" }}</span>
                <span class='list-art-authorname'> | &nbsp;{{ (index site.Data.authors $filename).imi__i_nazwisko }}</span>
                {{- partial "img.html" (dict "image" (index site.Data.authors $filename).obrazek "imgsizes" "" "ifsrcset" "nosrcset" "tag_class" "art-author-img")  -}}
                </div>
            </li>
            {{end}}
        </ul>
        
    </div>
    {{/*  <div id="pagination"></div>  */}}
</div>
</section>
{{if false }}  
<template id="news-listing-template">
    <li>
  
        
        <a href="{{ .Permalink }}"><h3>{{ .Params.tytul_do_listowania   }}</h3>
        <!-- {{- partial "img.html" (dict "image" .Params.obrazek "imgsizes" "(max-width: 992px) 100vw, 50vw")  -}} -->
        <div class='art-summary'></div>
        
         </a>
         <div class="list-art-footer">
        {{ $dirFile := path.Base .Params.get_author }}
        <!-- sam plik z rozszrzeniem -->
        {{ $pathArr := split $dirFile "." }}
        <!-- nazwa pliku -->
        {{ $filename := index $pathArr 0}}

        <!-- {{.Params.date}} -->
        <span class='list-art-date'>{{ .Params.date.Format "02.01.2006" }}</span>
        <span class='list-art-authorname'> | &nbsp;{{ (index site.Data.authors $filename).imi__i_nazwisko }}</span>
        <img class="art-author-img" src="">
        </div>
    </li>
  </template>
    <script>

        function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
        }
        function getUrlVarParam(parameter, defaultvalue){
            var urlparameter = defaultvalue;
            if(window.location.href.indexOf(parameter) > -1){
                urlparameter = getUrlVars()[parameter];
                }
            return urlparameter;
        }
        function getUrlParam(wparam){
            var pathArray =window.location.pathname.split('/');
            return pathArray[wparam];
        }
        function getPage(){
            var pathArray =window.location.search;
            console.log(pathArray);
            return pathArray[1];
        }
        function capitalize(str) {
            return str.charAt(0).toUpperCase() + str.slice(1);
        }
        function createListWithTemplate(article) {
            var mainContainer = document.getElementById("list-cnt");
            const ul = document.createElement('ul');
            ul.classList.add('news-list', 'with_flex');
            const template = document.getElementById('news-listing-template');
            for (var i = 0; i < article.length; i++) {
                const articleCard = document.importNode(template.content, true);
                articleCard.querySelector('a h3').textContent = article[i].tytul;
                articleCard.querySelector('.list-art-authorname').textContent = article[i].author;
                articleCard.querySelector('li .art-summary').innerHTML = article[i].summary;
                articleCard.querySelector('li a').href = article[i].url;
                articleCard.querySelector('.art-author-img').src = article[i].author_img; 
                
                articleCard.querySelector('li .list-art-date').textContent = article[i].data_art; 

                ul.appendChild(articleCard);
            }
        
            mainContainer.replaceWith(ul);
        }
        document.addEventListener("DOMContentLoaded", function() {
            var author_name = getUrlParam(3);  
            
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = "";

            var requestOptions = {
            method: 'GET',
            headers: myHeaders,

            redirect: 'follow'
            };

        fetch("/blog/index.json", requestOptions)
        .then(response => response.text())
        .then(function(result){
            var data = JSON.parse(result);
        /*  data=data.sort(function(a, b){
                let retval = 0;
                
                
                if(getUrlParam('sortby', 'default')=='nameasc'){
                    if (retval === 0)
                    retval = a.name.toUpperCase() < b.name.toUpperCase() ? -1 : 1;  
                }
                else if(getUrlParam('sortby', 'default')=='namedesc'){
                    if (retval === 0)
                    retval = a.name.toUpperCase() > b.name.toUpperCase() ? -1 : 1;  
                    
                }
                else if(getUrlParam('sortby', 'default')=='cenaasc'){
                    
                    retval = Number(a.price) > Number(b.price) ? 1 : -1; 
                }
                else if(getUrlParam('sortby', 'default')=='cenadesc'){
                    
                    retval = Number(a.price) < Number(b.price) ? 1 : -1; 
                }
                else{
                    retval = Number(a.id) < Number(b.id) ? -1 : 1;  
                }
                
                return retval;
            });
        */
            if(author_name){
                    let author_name_url= author_name;
                    let page=getUrlVarParam("page",1);
                    author_name=author_name.replace('-', ' ');
                    author_name = author_name.split(' ').map(capitalize).join(' ');
                    console.log(author_name);
                    var data =data.filter(obj=> obj.author.indexOf(author_name)!= -1);
                    let pagination =`<nav aria-label="Page navigation" class="pagination-cnt">`;
                    let perPage=6;
                    const totalItems = data.length
                    perPage = perPage ? perPage : 1
                    const pages = Math.ceil(totalItems/perPage)
                    
                    for(let i = 1; i <= pages; i++) {
                        if(page==i) current_class="current";
                        else current_class="";
                        if(i>1)
                        pagination += `<a class="pageof pagenumbers ${current_class}" href="/blog/autor/${author_name_url}?page=${i}"  >${i}</a>`
                        else pagination += `<a class="pageof pagenumbers  ${current_class}" href="/blog/autor/${author_name_url}/"  >${i}</a>`
                    }
                    pagination +=`</nav>`;
                    document.getElementById('pagination').innerHTML = pagination
                    let index, offSet
                  
                    if(page>1) document.querySelector("link[rel='canonical']").href=window.location.href;
                    console.log(page);
                    if(page == 1 || page <=0)  {
                        index = 0
                        offSet = 6
                    } else if(page > data.length) {
                        index = page - 1
                        offSet = data.length
                    } else {
                        index = page * perPage - perPage
                        offSet = index + perPage
                    }
                    
                    data = data.slice(index, offSet)
                }
                createListWithTemplate(data);
            
            }
            
        );
    });
</script>  
{{end}}
{{ end }}
