.txt-red{
    color: var(--red);
    transition: color .3s ease;
}
.txt-black{
    color: var(--main-dark-color);
    transition: color .3s ease;
}
.txt-white{
    color: var(--white);
    transition: color .3s ease;
}
body{
    color: var(--main-dark-color);
    background-color: var(--white);
    transition: background-color .3s ease,color .3s ease;
    &.dark-m{
        background-color: black;
        color: var(--white);
        .txt-red{
            color: var(--red);
        }
        .txt-black{
            color: var(--white);
        }
    }
    #contactform{
        input{
            border-left: 1px solid #707070;
            border-right: 1px solid #707070;
            border-bottom: 1px solid #707070;
            border-top: 0;
            // opacity: 0.5;
        }
    }
    &:not(.dark-m)
     .sc-banner-wide{
        background: transparent linear-gradient(0deg, #000000 0%, #FF0800 100%) 0% 0% no-repeat padding-box;
        z-index: 0;
        &~section{
            position: relative;
            z-index: 1;
        }
        .banner-wide-content{
            &:after{
                background: #F2F2F2 0% 0% no-repeat padding-box;
            }
            .banner-right-col{
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: 0rem 0.1875rem 1.25rem #00000029;
                .form-header{
                    color: var(--main-dark-color);
                }
                #contactform{

                    .form-radio label {
                        
                        color: var(--main-dark-color);
                    }
                }
            }
        }
    }
    &:not(.dark-m){
        .sc-banner-center-img{
            .box-below-banner{
                &:before{
                    background: #F2F2F2 0% 0% no-repeat padding-box;
                }
            }
        }
    }
    &:not(.dark-m).kontakt{
        .sc-banner-wide{
            background: transparent linear-gradient(0deg, #000000 0%, #FCDB01 100%) 0% 0% no-repeat padding-box;
        }
    }
    .sc-onas-about-columns{
        background: #F2F2F2 0% 0% no-repeat padding-box;
    }
    .list-art-date{
    
        border-top: 1px solid #000000;
    }
    .sc-front-news{
        .news-list{
            >li{
                background: #FFFFFF 0% 0% no-repeat padding-box;
               
            }
        }
        .front-news-more{
            background: transparent;
            color: var(--main-dark-color);
            &:after{
                border-top: 0.0625rem solid #000000;
                opacity: 0.2;
            }
            &:before{
                background-image: url(/img/arrow-black.svg);
            }
            &:hover{
                background: #E9E9E9 0% 0% no-repeat padding-box;
                color: var(--red);
                &:before{
                    background-image: url(/img/arrow.svg);
                }
            }
        }
    }
    .sc-our-clients:after{
        background: var(--white);
    }
    .sc-home-services:after{
         background: #f2f2f2;;
    }
    &.single{
        .blog-post{
          .article-head{
              position: relative;
              &:before{
                content: '';
                display: block;
                position: absolute;
                width: 100vw;
                height: 100%;
                z-index: -1;
                left:   -1rem;
                padding-right: 1rem;
                @media (min-width: 992px){
                    left:   -5vw;
                  
                }
                @media (min-width: 1600px){
                    left:   -(303/1920)*100vw;
                }
                background: #F2F2F2 0% 0% no-repeat padding-box;
              }
            
          }
        }
    }
    &.dark-m{
        // .ornament-r-b:before{
        //     display: none;
        // }
        .sc-banner-wide{
            .banner-wide-content{
                &:after{
                    background: linear-gradient(0deg,#7B1F1C00 10%,#F63D37 100%)no-repeat padding-box,#000;
                }
                .banner-right-col{
                    background: #242424 0% 0% no-repeat padding-box;
                    box-shadow: 0px 3px 20px #00000029;
                    .form-header{
                        color: var(--white);
                    }
                    #contactform{
                        input:not([type=submit]){
                            
                            background-color: var(--white);
                            opacity: 1;
                        }
                        .form-radio label {
                            
                            color: var(--white);
                        }
                        .rodo label{
                            color: var(--white);
                        }
                    }
                }
            }
        }
        .sc-our-clients::before {
            filter: grayscale(1);
        }
        .sc-our-clients:after{
            background: #242424;
        }
        .sc-home-services:after{
            background: #242424;
        }
        .sc-two-col-img-txt{
            .two-col-row{
              .first-col{
              
                    &:before{
                        display: none;
                    }
        
                }
                svg{
                    #Group_27{

                        /* Element | http://localhost:1313/ */

                        #Path_955 {
                            stroke: #616161;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_954 {
                            stroke: #616161;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_956 {
                            stroke: #616161;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_945 {
                            fill: white;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_944 {
                            fill: white;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_942 {
                            fill: white;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_947 {
                            fill: white;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_952 {
                            fill: white;
                            
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_953 {
                            fill: white;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_940 {
                            fill: white;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_939 {
                            fill: white;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_938 {
                            fill: white;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_937 {
                            fill: white;
                            
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_935 {
                            fill: #616161;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_936 {
                            fill: #616161;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_934 {
                            fill: white;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_933 {
                            fill: #616161;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_932 {
                            fill: white;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_943 {
                            fill: #616161;
                            
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_946 {
                            fill: #616161;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_950 {
                            fill: #616161;
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_951 {
                            fill: #616161;
                            
                        }
                        
                        /* Element | http://localhost:1313/ */
                        
                        #Path_929 {
                            fill: black;
                        }
  
                    }
                    #Group_17{
                        #Path_969 {
                        fill: black;
                        }
                        
                        #Path_1003 {
                        fill: white;
                        }
                        
                        #Path_989 {
                        fill: white;
                        }
                    }
                }
            }
        }
        .list-art-date{
    
            border-top: 1px solid #fff;
        }
        .sc-front-news{
            background: #000000 0% 0% no-repeat padding-box;
            .news-list{
                >li{
                    background: #242424 0% 0% no-repeat padding-box;
                    
                }
            }
            .front-news-more{
                background: transparent;
                color: var(--white);
                &:after{
                    border-top: 0.0625rem solid #ffffff;
                }
                &:before{
                    background-image: url(/img/arrow-white.svg);
                }
                &:hover{
                    background: #E9E9E9 0% 0% no-repeat padding-box;
                    color: var(--red);
                    &:before{
                        background-image: url(/img/arrow.svg);
                    }
                }
            }
        }
    }
    &.home{

        section:nth-child(2),section:nth-child(3){
            background-color: #F2F2F2;
        }
        section:nth-child(4){
            background-color: var(--white);
            // position: relative;
            //   &:after{
            //     content: '';
            //     display: block;
            //     position: absolute;
            //     width: 100%;
            //     height:120%;
            //     background-image: url(/img/falka-home-upd.svg);
            //     top: -5rem;
            //   }
        }
        .sc-home-services{
            .services-intro-cnt{
                // &:before{
                //     display: none;
                // }
            }
            .services-cols-cnt{
                .services-col-box{
                    background: #FFFFFF;
                    box-shadow: 0px 3px 20px #00000029;
                }
            }
        }
    }
    &.home.dark-m{
        section:nth-child(2),section:nth-child(3){
            background-color: var(--main-dark-color);
        }
        section:nth-child(4){
            background-color: #242424;
        }
        .sc-home-services{
            .services-intro-cnt{
                &:before{
                    display: none;
                }
            }
            .services-cols-cnt{
                .services-col-box{
                    background: transparent;
                    box-shadow: unset;
                }
            }
        }
    }
}