@charset "UTF-8";
:root {
  
  
  --white: #ffffff;
  --main-dark-color: #000000;
  --red: #F63D37;
  --base-font: "Source Sans Pro", Sans-serif;
  --header-font: "LATO";
  --size-XXL: 4.75rem; //--size-XXL: 76px;
  --size-XL: 3.4375rem; //--size-XL: 55px;
  --size-L: 2.25rem; //--size-L: 36px;
  --size-MD: 1.8125rem; // --size-MD: 29px;
  --size-S: 1.25rem; //--size-S: 20px;
  --size-XS: 1rem; //--size-XS: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

@media (min-width: 1920px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 140%;
  }
}

@media (min-width: 3840px) {
  html {
    font-size: 160%;
  }
}

body {
  font-family: var(--base-font);
  
  line-height: 1.25;
  font-size: 1rem;
  margin: 0;
  
  margin-top: 8rem;
  overflow-x: hidden;
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--orange);
}
h1,.h1,h2,.h2,h3,.h3{
  font-family: var(--header-font);
}
//checkbox
$checked-color: white;
$unchecked-color: red;

.darmkode-input{
  position: relative;
  line-height: 2.4;
  input{
    margin: 0px;
    margin-top: 1px;
    cursor: pointer;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    background: red;
    
    width: 60px;
    height: 40px;
    &:checked + label {
      &:before {
        background-color: $checked-color;
        background-color: white;
        // content: "\f00c";
        content: "ON";
        padding-left: 6px;
      }
      &:after {
        background: white;
        box-shadow: 0 0 0 1px white, 0 0 0 3px red;
        left: 32px;
      }
    }
  }
  label {
    position: relative;
    
    padding-left: 65px;
    vertical-align: middle;
    &:before, &:after {
      position: absolute;
  
      border-radius: 50%;
      transition: background-color 0.3s, left 0.3s;
      transform: translateY(-25%);
    }
    &:before {
      // content: "\f00d";
      content: "OFF";
      color: #fff;
      box-sizing: border-box;
      // font-family: 'FontAwesome', sans-serif;
    

   
      background-color: $unchecked-color;
      background-color: white;
      left: 0px;
      top: 0px;
  
 
      padding-left: 30px;
      font-size: 14px;
      line-height: 30px;
      height: 30px;
      width: 60px;
      border-radius: 20px;
    }
    &:after {
      content: "";
      letter-spacing: 20px;
      background: red;
      box-shadow: 0 0 0 1px white, 0 0 0 3px red;
    
      left: 2px;
      top: 2px;
      height: 24px;
      width: 24px;
    }
  }
}
//end checkbox
.sec-padding{
  @media (min-width: 1200px){
    padding-left: (303/1920)*100vw;
    padding-right: (303/1920)*100vw;
  }

}
.txt-break{
  display: block;
}
.txt-underline{
  text-decoration: underline;
 > *:not(.txt-underline){
    text-decoration: none;
  }
}
.sc-two-col-img-txt{
  .two-col-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .second-col{
      iframe{
        width: 100%;
      }
      img{
        width: 100%;
      }
      svg{
        width: 100%;
      }
    }
    @media (min-width: 1200px){
      >div:first-child{
        width: 45%;
      }
      >div:last-child{
        width: 55%;
      }
      &:nth-child(even){
        flex-direction: row-reverse;

      }
    }
  }
}
@import 'colours.scss'