{{ define "main" }}
  
{{ $section := "blog" }}
    
  {{ range .Params.sections }}
  <!-- LOOOP SECTIONS -->
    {{if (isset . "banner_type")}}
    <!-- SEKCJA BANNER -->
        {{if eq .banner_type "wide_img"}}
          {{- partial "banner-wide.html" . -}}
        {{else if eq .banner_type "center_img_w_background"}}
          {{- partial "banner-center.html" . -}}
        {{else if eq .banner_type "no_img_only_background"}}
          {{- partial "banner-no-img.html" . -}}
        {{end}}
          
    <!-- KONIEC SEKCJA BANNER KONIEC -->
    {{end}}
    {{if (isset . "wiersz_dwie_kolumny")}}
      {{- partial "two-col-img.html" . -}}
    {{end}}
    {{if (isset . "home_services_group")}}
      {{- partial "front-services.html" . -}}
    {{end}}
    {{if and (isset . "show_sec_clients") (.show_sec_clients )}}
    <!-- SEKCJA NASI KLIENCI -->
      {{- partial "clients.html" . -}}
    <!-- KONIEC SEKCJA NASI KLIENCI KONIEC -->
    {{end}}
    {{if and (isset . "show_sec_news") (.show_sec_news )}}
<!-- // -->
      
        <ul class="nav nav-pills nav-stacked">
          {{ range first 8 (where site.RegularPages.ByDate "Section" $section ) }}
            <li><a href="{{ .Permalink }}">{{ .Params.title | humanize | title }}</a>
              {{ index .Params.categories 0 }}
              <ul id="tags">
                {{ range .Params.tags }}
                  <li><a href="{{ "/tag/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
                {{ end }}
              </ul>
              <ul id="categories">
                {{ range .Params.categories }}
                  <li><a href="{{ "/kategoria/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
                {{ end }}
              </ul>
              <!-- {{- partial "img.html" (dict "image" .Params.obrazek "imgsizes" "(max-width: 992px) 100vw, 50vw")  -}} -->
              {{.Params.summary}}
              
              
              {{ $dirFile := path.Base .Params.author }}
              <!-- sam plik z rozszrzeniem -->
              {{ $pathArr := split $dirFile "." }}
              <!-- nazwa pliku -->
              {{ $filename := index $pathArr 0}}

              {{.Params.date}}
              {{ (index $.Site.Data.authors $filename).imi__i_nazwisko }}
              {{- partial "img.html" (dict "image" (index $.Site.Data.authors $filename).obrazek "imgsizes" "" "ifsrcset" "nosrcset")  -}}
            
            </li>
          {{ end }}
        </ul> 
<!-- // -->
    {{end}}
  {{ end }}
  

  
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        <!-- {{.Content}} -->
  
        <ul>
          <!-- Ranges through content/posts/*.md -->
          {{ range .Pages }}
              <li>
                  <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
              </li>
          {{ end }}
          </ul>
    
{{ end }}