{{ define "main" }}
  
  
    
  {{ range .Params.sections }}
  <!-- LOOOP SECTIONS -->
    {{if (isset . "banner_img")}}
    <!-- SEKCJA BANNER -->
        ...here is some stuff to show in the top bar...
        {{ .banner_form_html | safeHTML}}
    <!-- KONIEC SEKCJA BANNER KONIEC -->
    {{end}}
    
    {{if and (isset . "show_sec_clients") (.show_sec_clients )}}
    <!-- SEKCJA NASI KLIENCI -->
      {{- partial "clients.html" . -}}
    <!-- KONIEC SEKCJA NASI KLIENCI KONIEC -->
    {{end}}
    
  {{ end }}
        
  
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        <!-- {{.Content}} -->
  
  
    
{{ end }}