
<section class=' sc-banner-center-noimg sc-banner-center-noimg-num' id="top-banner">
    <div class='center-banner-cnt'>
        
            
            {{$obrazek := .banner_bg_no_img_num}}
            {{with .banner_bg_no_img_dark_num}}
                {{- partial "img.html" (dict "image" $obrazek "imgsizes" "" "tag_class" "banner-bg-img lmode" "ifsrcset" "nosrcset")  -}}
                {{- partial "img.html" (dict "image" . "imgsizes" "" "tag_class" "banner-bg-img dmode")  -}}

            {{else}}
                {{- partial "img.html" (dict "image" $obrazek "imgsizes" "" "tag_class" "banner-bg-img" "ifsrcset" "nosrcset")  -}}
            {{end}}  
        {{if .banner_header_cnt.header_repeater }}
            <div class='on-banner-content sec-padding'>
            
                    {{ $header_list := (.banner_header_cnt.header_repeater) }}
                    {{- partial "header-tag.html" (dict "context" . "header_list" $header_list "custom_class" "banner-header ")  -}}
                    {{ $header_slogan_list := (.banner_slogan.header_repeater) }}
                    {{- partial "header-tag.html" (dict "context" . "header_list" $header_slogan_list "custom_class" "banner-slogan")  -}}
                    {{with .opis_banner_num}}
                        <div class='no-img-banner-desc'>
                            {{. | safeHTML}}
                        </div>
                    {{end}}
               
                    {{if and .banner_cta_title_num (or .banner_cta_url_num .otworz_modal_num) }}
                        {{$tytul_odnosnika:=.banner_cta_title_num}}
                        {{ if .banner_cta_url_num }}
                            {{ with site.GetPage .banner_cta_url }}
                                <a class='cta-button' href='{{.RelPermalink}}'>{{$tytul_odnosnika}}</a>
                            {{end}}
                        {{else}}
                            <button data-modaltarget='modal1' class='open-modal-quote cta-button' href='#'>{{$tytul_odnosnika}}</button>
                            
                        {{ end }}
                        <span class='additional-cta-desc'>{{.krotki_tekst_pod_odnosnikiem}}</span>
                    {{else}}
                        <span class='additional-ornaments'></span>
                    {{end}}
            <!-- gdzieś formularz jeżeli istnieje -->
            <!-- gdzieś modal -> zamiennie czy odnośnik do strony, czy modal -->
       
            </div>
        {{end}}
        {{$naglowek_formularza_no_img :=.naglowek_formularza_no_img_num}}
        {{with .banner_form_html_no_img_num}}
        <div class='banner-right-col'>
            <div class='form-header'>
                {{$naglowek_formularza_no_img}}
            </div>
            {{ . | safeHTML}}    
        </div>
        {{end}}
    </div>


</section>
{{if false }}
    {{ with .otworz_modal_num}}
    {{- partial "modal.html" (dict "modal_data" . "modal_name" "modal1")  -}}

    {{end}}
{{end}}