<div>
    <span>Zaufaj naszym specjalistom</span>
    <section class="sec-padding sc-onas-team-columns">
        <ul>
            <li class="team-col-cnt">
                <img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/bartek-1-side_huf2a7b8a632768b3d70a76e1d4527c960_41016_500x0_resize_q75_h2_box_2.webp 500w" alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/bartek-1-side_huf2a7b8a632768b3d70a76e1d4527c960_41016_500x0_resize_q75_h2_box_2.webp 500w">
        <div class="person-name">Bartek</div><div class="person-job">Head of Marketing</div></li><li class="team-col-cnt"><img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/jakub-side_hu73588b0fb15f006a4a864774ef694d7b_79930_500x0_resize_q75_box.jpg 500w" alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/jakub-side_hu73588b0fb15f006a4a864774ef694d7b_79930_500x0_resize_q75_box.jpg 500w"><div class="person-name">Jakub</div><div class="person-job">Head of SEO</div></li><li class="team-col-cnt"><img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/piotr-side_hu2dbfb4eb307a148ab5069391577c5a04_79378_500x0_resize_q75_h2_box_2.webp 500w" alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/piotr-side_hu2dbfb4eb307a148ab5069391577c5a04_79378_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      "><div class="person-name">Piotr</div><div class="person-job">Web Developer</div></li><li class="team-col-cnt"><img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/konrad-side_hu24d17a5fb7d9af56180858be0e0a372e_105754_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      " alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/konrad-side_hu24d17a5fb7d9af56180858be0e0a372e_105754_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      "><div class="person-name">Konrad</div><div class="person-job">UX/UI Specialist</div></li><li class="team-col-cnt"><img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/karol-side_hu22c054310c0926f8a9793440a83efa2a_68088_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      " alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/karol-side_hu22c054310c0926f8a9793440a83efa2a_68088_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      "><div class="person-name">Karol</div><div class="person-job">Key Account Manager</div></li><li class="team-col-cnt"><img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/robert-side_hu3e29e7915eca50ceff832f1c3e91aa6f_52700_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      " alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/robert-side_hu3e29e7915eca50ceff832f1c3e91aa6f_52700_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      "><div class="person-name">Robert</div><div class="person-job">Google Ads Manager</div></li><li class="team-col-cnt"><img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/julia-side_hua364c477a7e97de6941930731e43285a_45112_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      " alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/julia-side_hua364c477a7e97de6941930731e43285a_45112_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      "><div class="person-name">Julia</div><div class="person-job">Social Media Manager</div></li><li class="team-col-cnt"><img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/wladek-side_hu83c90134e7be94f67ffdab3790ddc5b2_40606_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      " alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/wladek-side_hu83c90134e7be94f67ffdab3790ddc5b2_40606_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      "><div class="person-name">Władek</div><div class="person-job">SEO Manager</div></li><li class="team-col-cnt"><img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/bartek-2-side_hu06228c1403e5c2e46f08fb0ff359a6f5_67396_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      " alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/bartek-2-side_hu06228c1403e5c2e46f08fb0ff359a6f5_67396_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      "><div class="person-name">Bartłomiej</div><div class="person-job">SEO Expert</div></li><li class="team-col-cnt"><img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/agata-side_hu4bc3e776c19159e707d20bc0175213e6_43374_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      " alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/agata-side_hu4bc3e776c19159e707d20bc0175213e6_43374_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      "><div class="person-name">Agata</div><div class="person-job">Copywriter</div></li><li class="team-col-cnt"><img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/maria-side_hu9c5908bcf4d920afd19062fd44d15463_40016_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      " alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/maria-side_hu9c5908bcf4d920afd19062fd44d15463_40016_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      "><div class="person-name">Maria</div><div class="person-job">Head of Administration</div></li><li class="team-col-cnt"><img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/ola-side_hu26094df46ec0aa601f8bcd1a80e29a43_52882_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      " alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/ola-side_hu26094df46ec0aa601f8bcd1a80e29a43_52882_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      "><div class="person-name">Ola</div><div class="person-job">SEO Specialist</div></li><li class="team-col-cnt"><img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/damian-side_huadb79bf9b5dc72a32bcc380dc659222c_35768_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      " alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/damian-side_huadb79bf9b5dc72a32bcc380dc659222c_35768_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      "><div class="person-name">Damian</div><div class="person-job">SEO Specialist</div></li><li class="team-col-cnt"><img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/sviatoslav-front_hub50949aa332a5fbf228cbd3183172b3c_48616_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      " alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/sviatoslav-front_hub50949aa332a5fbf228cbd3183172b3c_48616_500x0_resize_q75_h2_box_2.webp 500w
      
      
      
      
      
      
      "><div class="person-name">Sviatoslav</div><div class="person-job">Junior SEO Specialist</div></li><li class="team-col-cnt"><img class="team-item-img lazyloaded" data-sizes="(max-width: 992px) 50vw, 20vw" data-srcset="
        /uploads/sziba1_hu16f5b02ba45416c024300b083a15a7d5_247904_500x0_resize_q75_box.jpg 500w
      
      
      
      
      
      
      " alt="" sizes="(max-width: 992px) 50vw, 20vw" srcset="
        /uploads/sziba1_hu16f5b02ba45416c024300b083a15a7d5_247904_500x0_resize_q75_box.jpg 500w
      
      
      
      
      
      
      "><div class="person-name">Shiba</div><div class="person-job">Doge</div></li></ul></section>
</div>