<section class='sec-padding sc-contact'>
    {{- partial "contact-trust-section.html" -}}
    <div class='left-col-contact-data'>
        {{ $header_list := (.contact_data_contact_group.lewa_kolumna.header_repeater) }}
       
        {{- partial "header-tag.html" (dict "context" . "header_list" $header_list "custom_class" "contact-col-header")  -}}
        <div class='main-contact-data-cnt'>
        {{ range .contact_data_contact_group.lewa_kolumna.dane_adresowe}}
            {{ $wiersz_danych_adresowych :=.wiersz_danych_adresowych}}
            <span class='contact-data-row'>
            {{if and  (.if_link) (eq .if_link "tel")   }}

                {{with .adres_do_linkowania}}
                    {{( printf "<a href='tel:%s'>%s</a>" . $wiersz_danych_adresowych) | safeHTML}}
                {{else}}
                    {{$wiersz_danych_adresowych}}
                {{end}}
            {{else if and  (.if_link)    (eq .if_link "mail")  }}
                {{with .adres_do_linkowania}}
                    {{( printf "<a href='mailto:%s'>%s</a>" . $wiersz_danych_adresowych) | safeHTML}}
                {{else}}
                    {{$wiersz_danych_adresowych}}
                {{end}}
            {{else}}
                {{$wiersz_danych_adresowych}}
            {{end}}
             
                   
            </span>
            
        {{end}}
        </div>
        <div class='contact-registry-data'>
            {{.contact_data_contact_group.lewa_kolumna.dane_rejestrowe | safeHTML}}
        </div>

        <div class='szef-img-cnt'>
            {{- partial "img.html" (dict "image" .contact_data_contact_group.lewa_kolumna.zdj_cie_szefa "imgsizes" "" "ifsrcset" "nosrcset" "tag_class" "szef-img")  -}}
        </div>
        <div class='szef-data'>
            <span class='szef-name'>{{.contact_data_contact_group.lewa_kolumna.imi__i_nazwisko_szefa}}</span>
            <span class='job-position'>{{.contact_data_contact_group.lewa_kolumna.stanowisko}}</span>
            <span class='job-tel'>
            {{$numer_telefonu_szefa :=.contact_data_contact_group.lewa_kolumna.numer_telefonu_szefa}}
           
                {{with  .contact_data_contact_group.lewa_kolumna.numer_telefonu_bez_spacji_do_linkowania }}
                    {{( printf "<a href='tel:%s'>%s</a>" . $numer_telefonu_szefa) | safeHTML}}
                {{else}}
                    {{$numer_telefonu_szefa}}
                {{end}}
           
                
            </span>
            <span class='job-email'>
          
                {{( printf "<a href='mailto:%s'>%s</a>" .contact_data_contact_group.lewa_kolumna.adres_email .contact_data_contact_group.lewa_kolumna.adres_email) | safeHTML}}
          
                
            </span>
                
                
        </div>
         

    </div>

    <div class='right-col-embed'>

        {{.contact_data_contact_group.embed_mapka_google | safeHTML}}
    </div>
</section>