<div>
    <span>Zaufaj naszym specjalistom</span>
    <section style="display: flex; flex-direction: row;">
      <div style="display: flex; flex-direction: column;">
          <div><span>Zaufaj naszym specjalistom</span>
          </div>
          <div>
              <ul class="team-col-cnt" style="display:grid;grid-template-columns:1fr 1fr 1fr;grid-template-rows:100px 100px 100px 100px 100px;"> 
                  <li class="team-col-cnt">
                      <img class="team-item-img lazyloaded" src="https://agencjawroclawska.pl/uploads/bartek-1-side_huf2a7b8a632768b3d70a76e1d4527c960_41016_500x0_resize_q75_h2_box_2.webp"/>
                      <div class="person-name">Bartek</div>
                      <div class="person-job">Head of Marketing</div>
                  </li>
                  <li class="team-col-cnt">
                      <img class="team-item-img lazyloaded" src="https://agencjawroclawska.pl/uploads/jakub-side_hu73588b0fb15f006a4a864774ef694d7b_79930_500x0_resize_q75_box.jpg"/>
                      <div class="person-name">Jakub</div>
                      <div class="person-job">Head of SEO</div>
                  </li>
                  <li class="team-col-cnt">
                      <img class="team-item-img lazyloaded" src="https://agencjawroclawska.pl/uploads/piotr-side_hu2dbfb4eb307a148ab5069391577c5a04_79378_500x0_resize_q75_h2_box_2.webp"/>
                      <div class="person-name">Piotr</div>
                      <div class="person-job">Web Developer</div>
                  </li>
                  <li class="team-col-cnt">
                      <img class="team-item-img lazyloaded" src="https://agencjawroclawska.pl/uploads/konrad-side_hu24d17a5fb7d9af56180858be0e0a372e_105754_500x0_resize_q75_h2_box_2.webp"/>
                      <div class="person-name">Konrad</div>
                      <div class="person-job">UX/UI Specialist</div>
                  </li>                 
              </ul>
          </div>
      </div>
      <div></div>
  </section>
</div>