<section class='sec-padding sc-faq faq {{ if eq .styl_szeroki_dwie_kolumny "kolumny"}} faq-cols {{else}} faq-wide {{end}}'>
  
    {{ $header_list := .header_repeater }}
  
    {{- partial "header-tag.html" (dict "context" . "header_list" $header_list "custom_class" "faq-header")  -}}
    {{with .grupa_faq}}
        <ul class='faq-list'>
            {{range . }}
                <li>
                    <button class='faq-q-cta'>
                        <h3 class='faq-q txt-L'>
                            {{.pytanie}}
                        </h3>
                    </button>
                    <div class='faq-a hidden'>
                        {{.odpowied_}}
                    </div>
                </li>
            {{end}}

        </ul>
    {{end}}

</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var faq_list=document.querySelectorAll('.faq-list li');
        if(faq_list.length>0){
            for (var i = 0; i < faq_list.length; i++) {
        
                faq_list[i].addEventListener('click',function(e){
                    e.preventDefault();
                    // var modal_target = this.dataset.modaltarget;
                    // modal_target="[data-modalname='"+modal_target+"']";
                    this.classList.toggle('acc-opened');
                    this.querySelector('.faq-a').classList.toggle('hidden');
                });
            }
        }
    });
</script>