{{ $row_len := (len .) }}
<!-- ilosc -->
<!-- {{ $previous_header_tag :="" }}
{{ $first_header_tag :=""}}
{{ $previous_break_line :="" }} -->
<section class='sec-padding sc-home-services'>
    <div class='services-intro-cnt'>
        {{ $header_list := (.home_services_group.header_repeater) }}
        {{- partial "header-tag.html" (dict "context" . "header_list" $header_list)  -}}
        <div class='services-main-desc'>
            {{.home_services_group.opis  | safeHTML}}

        </div>
    </div>
    <div class='services-cols-cnt'>
    {{ range $index, $element := .home_services_group.services_box_group }}
        
            <div class='services-col-box'>
                <div class='services-box-first-row'>
                   
                    {{if .if_svg}}
                        {{ readFile .obrazek | safeHTML }}
                    {{else }}
                        {{- partial "img.html" (dict "image" .obrazek "imgsizes" "(max-width: 992px) 100vw, 50vw")  -}}
                    {{end}}
                    {{ $header_list := (.header_repeater) }}
                    {{- partial "header-tag.html" (dict "context" . "header_list" $header_list)  -}}
                </div>
                <div class='services-box-desc'>
                    {{.opis_uslugi | safeHTML}}
                </div>

                
                

                
            </div>
   
    {{ end }}
    </div>
</section>