{{ $row_len := (len .) }}
<!-- ilosc -->
<!-- {{ $previous_header_tag :="" }}
{{ $first_header_tag :=""}}
{{ $previous_break_line :="" }} -->
<section class='sec-padding sc-home-services'>
    <div class='services-intro-cnt'>
        {{ $header_list := (.home_services_group.header_repeater) }}
        {{- partial "header-tag.html" (dict "context" . "header_list" $header_list "custom_class" "")  -}}
        <div class='services-main-desc'>
            {{.home_services_group.opis  | safeHTML}}

        </div>
    </div>
    <div class='services-cols-cnt cnt-visibility'>
    {{ range $index, $element := .home_services_group.services_box_group }}
        
            <div class='services-col-box'>
                {{ $relacja_linku := .relacja_linku }}
                {{if .adres_odnosnika }}
                    {{ with site.GetPage .adres_odnosnika }}
                    
                        <a class='servics-box-link' href=" {{ .Permalink }}" rel="{{$relacja_linku}}">
                    {{end}}
               
                {{ end }}
                <div class='services-box-first-row'>
                    <div class='services-ico'>
                        {{if .if_svg}}
                            {{ readFile .obrazek | safeHTML }}
                        {{else }}
                         
                            {{$obrazek := .obrazek}}
                            {{with .obrazek_dark_mode}}
                                {{- partial "img.html" (dict "image" $obrazek "imgsizes" "" "tag_class" "lmode" "ifsrcset" "nosrcset" )  -}}
                                {{- partial "img.html" (dict "image" . "imgsizes" "" "tag_class" "dmode" "ifsrcset" "nosrcset" )  -}}

                            {{else}}
                                {{- partial "img.html" (dict "image" $obrazek "imgsizes" "" "tag_class" "" "ifsrcset" "nosrcset" )  -}}
                            {{end}} 
                        {{end}}
                    </div>
                    {{ $header_list := (.header_repeater) }}
                    {{- partial "header-tag.html" (dict "context" . "header_list" $header_list "custom_class" "")  -}}
                </div>
                <div class='services-box-desc'>
                    {{.opis_uslugi | safeHTML}}
                </div>
                {{if .adres_odnosnika }}
                </a>
                {{end}}
                

                
            </div>
   
    {{ end }}
    </div>

</section>