<header class='sec-padding'>
    <div class='logo-cnt'>
        <a href='{{.Site.BaseURL}}'>
            <img class='for-white-ver' src='{{.Site.Params.logo}}'>
            <img class='for-dark-ver' src='{{.Site.Params.logo_dark_mode}}'>
        </a>
    </div>
    <div class='right-side'>
        <div class='upper-row'>
            <a class='tel-link' href="tel:{{.Site.Params.header_numer_telefonu_link}}">
                {{.Site.Params.header_numer_telefonu}}
            </a>
            <a class='mail-link' href="mailto:{{.Site.Params.header_adres_email}}">
                {{.Site.Params.header_adres_email}}
            </a>
 
        </div>
        <nav class='below-row'>
            <ul class='main-menu'>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                        <li class="parent {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                            <a href="#">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                            <ul class="sub-menu">
                                {{ range .Children }}
                                    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                        <a href="{{ .URL }}">{{ .Name }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                        </li>
                        
                    {{ else }}
                        <li>
                            <a href="{{ .URL }}">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                        </li>
                    {{ end }}
                {{ end }}
                <!-- <li>
                    <a href="#" target="_blank">Hardcoded Link 1</a>
                </li>
                <li>
                    <a href="#" target="_blank">Hardcoded Link 2</a>
                </li> -->
            </ul>
        </nav>
    </div>
    <button class="menu-btn-cnt">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class='darmkode-input'>
    
        <input id='darkmode' type="checkbox" name='darkmode' value="true">
        <label for='darkmode'></label>
    </div>
</header>

