<html lang="{{ .Site.LanguageCode }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
    {{ "<!-- plugins -->" | safeHTML }}
    {{ range .Site.Params.styles }}
    <link rel="stylesheet" href="{{ .style | absURL }} ">
    {{ end }}
</head>