<section class='sec-padding sc-tutorial'>
    {{$kategoria_tytulu_dla_poradnika := .kategoria_tytulu_dla_poradnika }}
    <div class='sec-heading'>
      <div class='left-col'>
        {{ $header_list := (.header_repeater) }}
  
        {{- partial "header-tag.html" (dict "context" . "header_list" $header_list "custom_class" "tutorial-sec-header")  -}}
        <div class='icon-cnt'>
            {{- partial "img.html" (dict "image" .obrazek_sekcji "imgsizes" "" "tag_class" "col-img" "ifsrcset" "nosrcset")  -}}
        </div>

      </div>
      <div class='right-col'>
          <div class='tutorial-index-title'>{{.title_of_index}}</div>
          {{ with .poradnik_group}}
            <ol class='tutorial-index'>
                {{range $index , $element :=. }}
                <li><a href='#tut-desc-{{$index}}'>
                    {{$element.title}}
                </a></li>
                {{end}}
            </ol>
          {{end}}
      </div>
    </div>
   
    <div class='tutorial-content-cnt'>
        {{ with .poradnik_group}}
        
        <ol class='tutorial-contant-wrapper'>
            {{range $index, $element:= . }}
            <li id="tut-desc-{{$index}}">
                {{( printf "<%s class=''>" $kategoria_tytulu_dla_poradnika) | safeHTML}}
                {{$element.title}}
                {{( printf "</%s>" $kategoria_tytulu_dla_poradnika) | safeHTML}}

                {{if $element.ikona}}
                    <div class='row-wrapper'>
                  
                        <div class='tut-row-50'>
                            {{$element.opis  | safeHTML}}
                        </div>
                        <div class='tut-row-50'>
                            {{if $element.if_svg}}
                                {{ readFile $element.ikona | safeHTML }}
                            {{else }}
                                {{- partial "img.html" (dict "image" $element.ikona "imgsizes" "" "ifsrcset" "nosrcset")  -}}
                            {{end}}
                        </div>
                    </div>
                {{else}}
                    <div class='tut-row-100'>
                        {{$element.opis  | safeHTML}}
                        {{ with $element.opis__kroki}}
                        <ul class='tutorial-steps'>
                            {{range .}}
                            <li>
                                <div class='step-title'>
                                    <span>
                                    {{.tytul}}
                                    </span>
                                </div>
                                <div class='step-desc'>
                                    {{.opis_kroku | safeHTML}}
                                </div>
                            </li>
                            {{end}}
                        </ul>
                        {{end}}
                    </div>
                {{end}}
            </li>
            {{end}}
        </ol>
        {{end}}
        {{with .floating_box_group}}
        <div class='floating-box-cnt'>
            <div class='box-wrapper'>
                {{ $header_list := (.naglowek_pierwszy.header_repeater) }}
  
                {{- partial "header-tag.html" (dict "context" . "header_list" $header_list "custom_class" "tutorial-sec-header")  -}}
                <div class='float-box-desc-1'>
                    {{.opis_1 | safeHTML}}
                </div>
                {{ $header_list := (.naglowek_drugi.header_repeater) }}
  
                {{- partial "header-tag.html" (dict "context" . "header_list" $header_list "custom_class" "tutorial-sec-header")  -}}
                <div class='float-box-desc-2'>
                    {{.opis_2 | safeHTML}}
                </div>
            </div>
        </div>
        {{end}}
    </div>
   
</section>