<section class='sec-padding sc-front-news'>

    {{ $section := "blog" }}

    {{ $cta_btn_more_news_title := .tytul_guzika_cta}}
    {{$header_list := .header_repeater}}

    {{- partial "header-tag.html" (dict "context" . "header_list" $header_list "custom_class" "related-news-header")  -}}
    <ul class="news-list">
        {{ range first 3  (where site.RegularPages.ByDate "Type" "blog" ).Reverse }}
          
                <li>
                    <!-- <ul id="tags">
                        {{ range .Params.tags }}
                            <li><a href="{{ "/tag/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
                        {{ end }}
                    </ul> -->
                    <!-- {{ index .Params.categories 0 }} -->
                    <ul class="categories">
                    {{ range .Params.categories }}
                        <li><a href="{{ "/kategoria/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
                    {{ end }}
                    </ul>
                    <a href="{{ .Permalink }}"><h3>{{ .Params.tytul_do_listowania   }}</h3>
                    <!-- {{- partial "img.html" (dict "image" .Params.obrazek "imgsizes" "(max-width: 992px) 100vw, 50vw")  -}} -->
                    <div class='art-summary'>{{.Params.summary |safeHTML}}</div>
                    
                    </a>
                    <div class="list-art-footer">
                    {{ $dirFile := path.Base .Params.author }}
                    <!-- sam plik z rozszrzeniem -->
                    {{ $pathArr := split $dirFile "." }}
                    <!-- nazwa pliku -->
                    {{ $filename := index $pathArr 0}}

                    <!-- {{.Params.date}} -->
                    <span class='list-art-date'>{{ .Params.date.Format "02.01.2006" }}</span>
                    <span class='list-art-authorname'> | &nbsp;{{ (index site.Data.authors $filename).imi__i_nazwisko }}</span>
                    {{- partial "img.html" (dict "image" (index site.Data.authors $filename).obrazek "imgsizes" "" "ifsrcset" "nosrcset" "tag_class" "art-author-img")  -}}
                    </div>
                </li>
          
        {{ end }}
    </ul> 
    
    {{ with site.GetPage "/blog" }}
    <div class='front-news-more-cnt'>
        <a class='front-news-more' href="{{ .Permalink }}">{{$cta_btn_more_news_title}}</a>
    </div>
    {{ end }}
</section>