<section class='sec-padding sc-oferta-social'>
  
    <div class='first-row'>
        <div class="left-col">
            {{$ikona := .ikona_obok_naglowka}}
                        
            {{with .ikona_obok_naglowka_dark_mode}}
                {{- partial "img.html" (dict "image" $ikona "imgsizes" "" "tag_class" "col-img lmode" "ifsrcset" "nosrcset")  -}}
                {{- partial "img.html" (dict "image" . "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "dmode")  -}}
            {{else}}
                {{- partial "img.html" (dict "image" $ikona "imgsizes" "" "tag_class" "col-img" "ifsrcset" "nosrcset")  -}}
            {{end}} 


        </div>
        <div class="right-col">
            {{ $header_list := (.header_repeater) }}
    
            {{- partial "header-tag.html" (dict "context" . "header_list" $header_list "custom_class" "front-news-header")  -}}
        </div>
     
    </div>
    <div class='second-row'>
        {{with .boxy}}
            <ul>
                {{range . }}
                    <li>
                        
                        <p class="tytul">{{.tytul}}</p>
                        <p class="opis">{{.opis| safeHTML}}</p>
                    </li>
                {{end}}
            </ul>
        {{end}}
 
    </div>
    
 
</section>