{{ $seed := "awrc" }}
{{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
<section class='sec-padding sc-text-points-img {{.klasa_sekcji}} a{{$random}}'>
    
        <div class='two-col-row cnt-visibility'>
            {{ $header_list := (.header_repeater) }}
            {{- partial "header-tag.html" (dict "context" . "header_list" $header_list "custom_class" "")  -}}
            <div class='first-col'>
              
                <div class='txt-L slogan'>
                    {{.tekst_nad_listowaniem | safeHTML}}
                </div>
                {{with .listowanie}}
                    <ul class='red-point-list'>
                        {{range .}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                {{end}}

                
            </div>
            <div class='second-col'>
                <div class='obrazek-outer-wrapper'>
                    <div class='obrazek-wrapper'>
                        <!-- <a data-modaltarget='{{$random}}' class='open-modal-quote' href='#'> -->
                    {{$obrazek := .obrazek}}
                    {{with .obrazek_dark_mode}}
                        {{- partial "img.html" (dict "image" $obrazek "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "lmode")  -}}
                        {{- partial "img.html" (dict "image" . "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "dmode")  -}}

                    {{else}}
                        {{- partial "img.html" (dict "image" $obrazek "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "")  -}}
                    {{end}}  
                    <!-- </a>   -->
                    </div>
                    <div class='obrazek-wrapper'>
                        <!-- <a data-modaltarget='{{$random}}' class='open-modal-quote' href='#'> -->
                    {{$obrazek2 := .obrazek2}}
                    {{with .obrazek2_dark_mode}}
                        {{- partial "img.html" (dict "image" $obrazek2 "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "lmode")  -}}
                        {{- partial "img.html" (dict "image" . "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "dmode")  -}}

                    {{else}}
                        {{- partial "img.html" (dict "image" $obrazek2 "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "")  -}}
                    {{end}}    
                    <!-- </a>   -->
                    </div>
                </div>

            </div>
        </div>
    
</section>
{{if .obrazek_przewijany }}
<div data-modalname='{{$random}}' class='modal-quote-outer img-modal-outer'>
    <a href="#" class='button-close-modal'></a>
    <div class='modal-wrapper img-modal'>
        {{with .obrazek_dark_mode}}
            {{- partial "img.html" (dict "image" $obrazek "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "lmode")  -}}
            {{- partial "img.html" (dict "image" . "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "dmode")  -}}

        {{else}}
            {{- partial "img.html" (dict "image" $obrazek "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "")  -}}
        {{end}}    
    </div>
</div>
<script>
      document.addEventListener("DOMContentLoaded", function() {
          var parent_scroll_img=document.querySelector('.a{{$random}} .obrazek-wrapper');
        //   console.log(parent_scroll_img.offsetWidth);
          var scroll_img=document.querySelector('.a{{$random}} .obrazek-wrapper img');
         
          parent_scroll_img.addEventListener('mouseenter',function(){
            // console.log(scroll_img.offsetWidth);
            var move_img=scroll_img.offsetWidth - parent_scroll_img.offsetWidth;
            scroll_img.style.right= move_img + "px";
          });
          parent_scroll_img.addEventListener('mouseleave',function(){
            // console.log(scroll_img.offsetWidth);
            // var move_img=scroll_img.offsetWidth - parent_scroll_img.offsetWidth;
            scroll_img.style.right= 0 + "px";
          });
      });
</script>
{{end}}