<section class='sec-padding sc-text-points-img'>
    
        <div class='two-col-row cnt-visibility'>
            {{ $header_list := (.header_repeater) }}
            {{- partial "header-tag.html" (dict "context" . "header_list" $header_list "custom_class" "")  -}}
            <div class='first-col'>
              
                <div class='txt-L slogan'>
                    {{.tekst_nad_listowaniem | safeHTML}}
                </div>
                {{with .listowanie}}
                    <ul class='red-point-list'>
                        {{range .}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                {{end}}

                
            </div>
            <div class='second-col'>
          
                
                {{$obrazek := .obrazek}}
                {{with .obrazek_dark_mode}}
                    {{- partial "img.html" (dict "image" .obrazek "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "lmode")  -}}
                    {{- partial "img.html" (dict "image" $obrazek "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "dmode")  -}}

                {{else}}
                    {{- partial "img.html" (dict "image" $obrazek "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "")  -}}
                {{end}}     
                   
                   

            </div>
        </div>
    
</section>
