{{ $row_len := (len .) }}
<!-- ilosc -->
<!-- {{ $previous_header_tag :="" }}
{{ $first_header_tag :=""}}
{{ $previous_break_line :="" }} -->
<section class='sec-padding sc-two-col-img-txt'>
    {{ range $index, $element := .wiersz_dwie_kolumny }}
        <div class='two-col-row cnt-visibility'>
            <div class='first-col'>
                {{ $header_list := (.kolumna_pierwsza.header_repeater) }}
                {{- partial "header-tag.html" (dict "context" . "header_list" $header_list "custom_class" "")  -}}

                {{.kolumna_pierwsza.opis}}
                {{ $relacja_linku := .kolumna_pierwsza.relacja_linku }}
                {{ $tytul_odnosnika := .kolumna_pierwsza.tytul_odnosnika }}
                {{ with site.GetPage .kolumna_pierwsza.adres_odnosnika }}
                
                    <a class='two-col-link' href=" {{ .Permalink }}" rel="{{$relacja_linku}}">{{$tytul_odnosnika}}</a>
                {{ end }}
                

                
            </div>
            <div class='second-col'>
                {{if eq .kolumna_druga.film_obrazek "image"}}
                    {{if .kolumna_druga.if_svg}}
                        {{ readFile .kolumna_druga.obrazek | safeHTML }}
                    {{else }}
                        {{- partial "img.html" (dict "image" .kolumna_druga.obrazek "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "lmode")  -}}
                        {{with .kolumna_druga.obrazek_dark_mode}}
                            {{- partial "img.html" (dict "image" . "imgsizes" "(max-width: 992px) 100vw, 50vw" "tag_class" "dmode")  -}}
                        {{end}}
                    {{end}}
                {{else if eq .kolumna_druga.film_obrazek "movie embed"}}
                
                    {{.kolumna_druga.kod_embed | safeHTML}}

               
                {{if false }}
                    <iframe src="https://player.vimeo.com/video/521605944?color=ffffff&title=0&byline=0&portrait=0&badge=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    <p><a href="https://vimeo.com/521605944">Droptree | &quot;Village Come Back&quot; (OFFICIAL MUSIC VIDEO)</a> from <a href="https://vimeo.com/droptree">DROPTREE PRODUCTIONS</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                    {{end}}
                {{end}}
            </div>
        </div>
    {{ end }}
</section>
