<div>
    <span>Zaufali nam1:</span>
    <section>
        <ul style="align-items: center;display:grid;grid-template-columns:1fr 1fr 1fr 1fr;grid-template-rows:100px 100px 100px;grid-gap:1rem;padding:0;">
            <li style="list-style-type: none; max-height: 100px; display: flex; align-items: center; overflow: hidden;">
                <img src="https://agencjawroclawska.pl/uploads/tuwroclaw-logo-aw.jpg" class="gray-images-logo"/>
            </li>
            <li style="list-style-type: none; max-height: 100px; display: flex; align-items: center; overflow: hidden;">
                <img src="https://agencjawroclawska.pl/uploads/medicus-logo-aw.jpg" class="gray-images-logo"/>
            </li>
            <li style="list-style-type: none; max-height: 100px; display: flex; align-items: center; overflow: hidden;">
                <img src="https://agencjawroclawska.pl/uploads/mbp-wroclaw-logo-aw.jpg" class="gray-images-logo"/>
            </li>
            <li style="list-style-type: none; max-height: 100px; display: flex; align-items: center; overflow: hidden;">
                <img src="https://agencjawroclawska.pl/uploads/inkom-logo-aw.jpg" class="gray-images-logo"/>
            </li>
            <li style="list-style-type: none; max-height: 100px; display: flex; align-items: center; overflow: hidden;">
                <img src="https://agencjawroclawska.pl/uploads/witaminaiziolo-logo.jpg" class="gray-images-logo"/>
            </li>
            <li style="list-style-type: none; max-height: 100px; display: flex; align-items: center; overflow: hidden;">
                <img src="https://agencjawroclawska.pl/uploads/4ti-logo-aw.jpg" style="height: 100%;" class="gray-images-logo"/>
            </li>
            <li style="list-style-type: none; max-height: 100px; display: flex; align-items: center; overflow: hidden;">
                <img src="https://agencjawroclawska.pl/uploads/comfortplus-logo-aw.jpg" class="gray-images-logo"/>
            </li>
            <li style="list-style-type: none; max-height: 100px; display: flex; align-items: center; overflow: hidden;">
                <img src="https://agencjawroclawska.pl/uploads/multivoucher-logo.jpg" class="gray-images-logo"/>
            </li>
            <li style="list-style-type: none; max-height: 100px; display: flex; align-items: center; overflow: hidden;">
                <img src="https://agencjawroclawska.pl/uploads/venitti-logo.jpg" class="gray-images-logo"/>
            </li>
            <li style="list-style-type: none; max-height: 100px; display: flex; align-items: center; overflow: hidden;">
                <img src="https://agencjawroclawska.pl/uploads/costa-logo.jpg" style="height: 100%;" class="gray-images-logo"/>
            </li>
            <li style="list-style-type: none; max-height: 100px; display: flex; align-items: center; overflow: hidden;">
                <img src="https://agencjawroclawska.pl/uploads/wsm24-logo.jpg" class="gray-images-logo"/>
            </li>
            <li style="list-style-type: none; max-height: 100px; display: flex; align-items: center; overflow: hidden;">
                <img src="https://agencjawroclawska.pl/uploads/amazigo-logo.jpg" class="gray-images-logo"/>
            </li>
        </ul>
    </section>
</div>