<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="{{ if .IsHome }} home {{else}}  {{ if .IsPage }}single {{ .Params.slug }} {{ else }}list{{ end }} {{end}}">
        {{- partial "header.html" . -}}
        <main id="content">
        {{- block "main" . }}{{- end }}
        </main>
        <svg class="svg">
            <clipPath id="my-clip-path2" clipPathUnits="objectBoundingBox"><path d="M1,0 c0,0,-0.266,0.31,-1,0.148 l0,0.733 c0,0,0.353,0.254,1,0.02 l0,-0.901"></path></clipPath>
        </svg>
        <svg class="svg">
          <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox"><path d="M1,0 c0,0,-0.266,0.31,-1,0.148 l0,0.733 c0,0,0.353,0.254,1,0.02 l0,-0.901"></path></clipPath>
        </svg>
        {{- partial "footer.html" . -}}
    </body>
</html>
