<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="{{ if .IsHome }} home {{else}} {{ .Params.body_class }} {{ if .IsPage }}single  {{ else }}list{{ end }} {{end}}">
        {{- partial "header.html" . -}}
        <main id="content">
        {{- block "main" . }}{{- end }}
        </main>
     
        <svg class="svg">
          <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox"><path d="M1,0 c0,0,-0.266,0.31,-1,0.148 l0,0.733 c0,0,0.353,0.254,1,0.02 l0,-0.901"></path></clipPath>
        </svg>
        <svg class="svg">
          <clipPath id="my-clip-path2" clipPathUnits="objectBoundingBox"><path d="M1,0.171 c0,0,-0.05,-0.041,-0.143,0.006 C0.711,0.25,0.447,0.413,0,0.316 v0.721 c0,0,0.353,0.249,1,0.019 V0.171 L1,0.171"></path></clipPath>
        </svg>
    
        {{- partial "footer.html" . -}}
    </body>
</html>
