{{ define "main" }}
  

    
  {{ range .Params.sections }}
  <!-- LOOOP SECTIONS -->
    {{if (isset . "banner_type")}}
    <!-- SEKCJA BANNER -->
        {{if eq .banner_type "wide_img"}}
          {{- partial "banner-wide.html" . -}}
        {{else if eq .banner_type "center_img_w_background"}}
          {{- partial "banner-center.html" . -}}
        {{else if eq .banner_type "no_img_only_background"}}
          {{- partial "banner-no-img.html" . -}}
        {{end}}
          
    <!-- KONIEC SEKCJA BANNER KONIEC -->
    {{end}}
    {{if (isset . "wiersz_dwie_kolumny")}}
      {{- partial "two-col-img.html" . -}}
    {{end}}
    {{if (isset . "home_services_group")}}
      {{- partial "front-services.html" . -}}
    {{end}}
    {{if and (isset . "show_sec_clients") (.show_sec_clients )}}
    <!-- SEKCJA NASI KLIENCI -->
      {{- partial "clients.html" . -}}
    <!-- KONIEC SEKCJA NASI KLIENCI KONIEC -->
    {{end}}
    {{if and (isset .home_news_group "show_sec_news") (.home_news_group.show_sec_news )}}
<!-- // -->
      {{- partial "front-news.html" . -}}
<!-- // -->
    {{end}}
    <!-- KONIEC SEKCJI AKTUALNOSCI _ STRONA GLOWNA -->
    <!-- SEKCJA STRONY KONTAKT -->
    {{if (isset . "contact_data_contact_group")}}
      {{- partial "contact-page.html" . -}}
    {{end}}
  <!-- SEKCJA STRONY O nas ---- TRZY KOLUMNY -->
    {{if (isset . "kolumny_o_nas")}}
        {{- partial "onas-page-about-columns.html" . -}}
    {{end}}
<!-- SEKCJA STRONY O nas ---- DRUŻYNA -->
     {{if (isset . "section_team_group")}}
       {{- partial "onas-page-team.html" . -}}
    {{end}}
    {{if eq .template "sekcja-z-pytajnikiem"}}
      {{- partial "pytajnik.html" . -}}
    {{end}}
    {{if eq .template "sekcja-oferta-z-kafelkami"}}
      {{- partial "oferta-z-kafelkami.html" . -}}
    {{end}}
    {{if eq .template "sekcja-pozycjonowanie-poradnik"}}
      {{- partial "pozycjonowanie-poradnik.html" . -}}
    {{end}}
    {{if eq .template "sekcja-cta-zamow-wycene"}}
      {{- partial "sec-cta-get-modal.html" . -}}
    {{end}}
    {{if eq .template "sekcja-cennik-tabela"}}
      {{- partial "cennik-tabela.html" . -}}
    {{end}}
    {{if eq .template "sekcja-porownanie-pakietow"}}
      {{- partial "porownanie-pakietow.html" . -}}
    {{end}}
    {{if eq .template "sekcja-galeria-logosow"}}
      {{- partial "galeria-logosow.html" . -}}
    {{end}}
    {{if eq .template "sekcja-faq"}}
      {{- partial "faq.html" . -}}
    {{end}}
    {{if eq .template "sekcja-box-wysrodkowany-z-tekstem"}}
      {{- partial "text-middle-box.html" . -}}
    {{end}}
    
  {{ end }}
  

  
    
{{ end }}