{{ define "main" }}
    
    
    <article class="sec-padding blog-post">
        <div class='article-head'>
            <div class='left-col'>
                {{ $header_list := $.Params.header_repeater }}
                {{- partial "header-tag.html" (dict "context" . "header_list" $header_list "custom_class" "single-post-header")  -}}
                <div class='excerpt'>
                    {{$.Params.summary | safeHTML}}
                </div>
               
            </div>
            <div class='right-col'>
               {{ with $.Params.ikona_artykulu }}
                    {{- partial "img.html" (dict "image" . "imgsizes" "" "ifsrcset" "nosrcset" "tag_class" "")  -}} 
               {{end}}
               
            </div>
            <div class='author-data'>
            
                {{ $dirFile := path.Base .Params.author }}
                <!-- sam plik z rozszrzeniem -->
                {{ $pathArr := split $dirFile "." }}
                <!-- nazwa pliku -->
                {{ $filename := index $pathArr 0}}
    
                <!-- {{.Params.date}} -->
                <span class='list-art-date'>{{ .Params.date.Format "02.01.2006" }}</span>
                <span class='list-art-authorname'> | &nbsp;{{ (index site.Data.authors $filename).imi__i_nazwisko }}</span>
                {{- partial "img.html" (dict "image" (index site.Data.authors $filename).obrazek "imgsizes" "" "ifsrcset" "nosrcset" "tag_class" "art-author-img")  -}}
                {{with (index site.Data.authors $filename).linkedin_odnosnik }}
                    <a rel="nofollow" target="_blank" class='author-linkedin' href='{{.}}'><img src="/img/linkedin-in_red.svg"></a>
                {{end}}
            </div>
        </div>
      
        <div class='article-content-wrapper'>
           
            {{ with $.Params.lista_o_czym_przeczytasz_group}}
            <div class='is-about'>
                <div class='is-about-title'>
                {{ with $.Params.tytul_o_czym_przeczytasz}}
                    {{.}}
                {{else}}
                    O czym przeczytasz w artykule?
                {{end}}
                </div>
                <ol class='is-about-list'>
                    {{range . }}
                        <li class='is-about-item'><a href="#{{ .adres_odnosnika | urlize}}">{{ .title }}</a></li>
                    {{end}}
                </ol>  
            </div>
            {{end}}
          
            <div class='article-content'>
                {{.Content}}
            </div>
            <div class="single-art-footer">
                <div class='star-cnt'>
                    <span>Jak oceniasz przeczytany artykuł?</span>
                    <form class="rate" id="post-{{ .File.UniqueID }}">
                        
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    
                    </form>
                    <div>głosów: <span id="count_votes"></span> </div>
                </div>
                <div class='author-data'>
                    {{ $dirFile := path.Base .Params.author }}
                    <!-- sam plik z rozszrzeniem -->
                    {{ $pathArr := split $dirFile "." }}
                    <!-- nazwa pliku -->
                    {{ $filename := index $pathArr 0}}
        
                    <!-- {{.Params.date}} -->
                    <span class='list-art-date'>{{ .Params.date.Format "02.01.2006" }}</span>
                    <span class='list-art-authorname'> | &nbsp;{{ (index site.Data.authors $filename).imi__i_nazwisko }}</span>
                    {{- partial "img.html" (dict "image" (index site.Data.authors $filename).obrazek "imgsizes" "" "ifsrcset" "nosrcset" "tag_class" "art-author-img")  -}}
                    {{with (index site.Data.authors $filename).linkedin_odnosnik }}
                        <a rel="nofollow" target="_blank" class='author-linkedin' href='{{.}}'><img src="/img/linkedin-in_red.svg"></a>
                    {{end}}
                </div>
                
            </div>
        </div>
        
        
           
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var myHeaders = new Headers();
myHeaders.append("Content-Type", "application/json");

var raw = "";

var requestOptions = {
  method: 'GET',
  headers: myHeaders,
  
  redirect: 'follow'
};

fetch("https://getpantry.cloud/apiv1/pantry/74cfb19a-5d7b-4804-94fa-b7a3b370bb8f/basket/{{ .File.UniqueID }}", requestOptions)
  .then(response => response.text())
  .then(function(result){
        var json = JSON.parse(result);
        var star1=Number.isInteger(parseInt(json.star1)) ? json.star1 : 0 ;
        var star2=Number.isInteger(parseInt(json.star2)) ? json.star2 : 0 ;
        var star3=Number.isInteger(parseInt(json.star3)) ? json.star3 : 0 ;
        var star4=Number.isInteger(parseInt(json.star4)) ? json.star4 : 0 ;
        var star5=Number.isInteger(parseInt(json.star5)) ? json.star5 : 0 ;
        var count_it=Math.ceil(((1* star1)+(2* star2)+(3* star3)+(4* star4)+(5* star5))/(star1+star2+star3+star4+star5));
        var count_votes=Math.ceil(star1+star2+star3+star4+star5);
        // console.log(count_it);
        var star_id="star" + count_it;
        // console.log(star_id);
        if(Number.isInteger(count_it)){
            // console.log('pobrane');
            // console.log(document.getElementById(star_id));
            document.getElementById(star_id).checked = true;
        }
        
        document.getElementById('star1').dataset.votes=star1;
        document.getElementById('star2').dataset.votes=star2;
        document.getElementById('star3').dataset.votes=star3;
        document.getElementById('star4').dataset.votes=star4;
        document.getElementById('star5').dataset.votes=star5;
        document.getElementById('count_votes').innerHTML=count_votes;
        const structuredDataText='{"@context": "https://schema.org/","@type": "CreativeWorkSeries","name": "'+ {{$.Params.tytul_do_listowania | safeHTML}} + '","aggregateRating": {"@type": "AggregateRating","ratingValue": "' + count_it + '","bestRating": "5","ratingCount": "' + count_votes + '"}}';
        const script = document.createElement('script');
        // script.setAttribute('type', 'application/ld+json');
        script.type = 'application/ld+json';
        script.text = structuredDataText;
        document.head.appendChild(script);

        // console.log(document.getElementById(star_id));
    }
  
  )
  .catch(error => console.log('error', error));
                var stars_cnt=document.querySelectorAll('.rate input');
                for (let index = 0; index < stars_cnt.length; index++) {
                    stars_cnt[index].addEventListener('click', function(e){
                        // e.preventDefault();
                        var this_key='star' + this.value;
                        var current_votes =parseInt(document.getElementById(this_key).dataset.votes);
                        current_votes = Number.isInteger(current_votes) ? current_votes : 0;
                        document.getElementById(this_key).dataset.votes=current_votes + 1;
                        // console.log(this.value);
                        
                        var star1=parseInt(document.getElementById('star1').dataset.votes);
                        var star2=parseInt(document.getElementById('star2').dataset.votes);
                        var star3=parseInt(document.getElementById('star3').dataset.votes);
                        var star4=parseInt(document.getElementById('star4').dataset.votes);
                        var star5=parseInt(document.getElementById('star5').dataset.votes);
                        var myHeaders = new Headers();
                        myHeaders.append("Content-Type", "application/json");
                        myHeaders.append("cors", "no-cors");
                        var raw = JSON.stringify({
                        "star1": Number.isInteger(star1) ? star1 : 0 ,
                        "star2": Number.isInteger(star2) ? star2 : 0 ,
                        "star3":Number.isInteger(star3) ? star3 : 0 ,
                        "star4": Number.isInteger(star4) ? star4 : 0 ,
                        "star5":Number.isInteger(star5) ? star5 : 0 ,
                        });

                        var requestOptions = {
                        method: 'POST',
                        headers: myHeaders,
                        body: raw,
                        redirect: 'follow'
                        };
                        // console.log(raw);
                        fetch("https://getpantry.cloud/apiv1/pantry/74cfb19a-5d7b-4804-94fa-b7a3b370bb8f/basket/{{ .File.UniqueID }}", requestOptions)
                        .then(response => response.text())
                        .then(result => console.log(result))
                        .catch(error => console.log('error', error));

                    });
                    
                }
            });
        </script>
    </article>
   
        {{ $related_settings := site.Data.blogs }}
        {{ $related_settings_len := (len $related_settings) }}
        {{ if gt $related_settings_len  0}}
            
            {{- partial "related.html" (dict "context" . "header_list" $related_settings.header_repeater "custom_class" "" "cta_btn_more_news_title" "WIĘCEJ AKTUALNOŚCI" )  -}}
           
                
        {{end}}
        
{{ end }}